html {
  font-family: 'Lucida Sans Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(26 26 26);
}

/* Index style */

/* Header */

header h2 {
  color: white;
  text-align: center;
}

@media (max-width: 600px) {
  h2.responsive {
    font-size: 12px;
  }
}

.header_div {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
}

.header_nav h2 {
  transition: all .5s ease-in-out;
  transform: scale(1);
}

.header_nav h2:hover {
  transform: scale(1.4);
}

a:any-link {
  text-decoration: none;
  color: white;
}

/* a:any-link afecta a tots

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:active {
  text-decoration: none;
  color: white;
}
*/

/* Main */

.main_img {
  width: 40vw;
  max-width: 1000px;
  min-width: 250px;
  margin: auto;
}

main div img {
  width: 100%;
}

/* Footer */

.footer_logos {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 10px;
  margin-right: 10px;
}

.footer_img {
  width: 30px;
  margin-right: 20px;
  transition: all .5s ease-in-out;
  transform: scale(1);
}

.footer_img:hover {
  transform: scale(1.3);
}