html {
  font-family: 'Lucida Sans Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(26 26 26);
}

/* Index style */

/* Body */

/* Header */

/* Copia de h2 a h1 */

header h1 {
  color: white;
  text-align: center;
}

@media (max-width: 800px) {
  h1.responsive {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

header h2 {
  color: white;
  text-align: center;
}

@media (max-width: 800px) {
  h2.responsive {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

main h4 {
  color: white;
  text-align: center;
}

@media (max-width: 800px) {
  h4.responsive {
    font-size: 10px;
  }
}

main p {
  color: white;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

.main_p_manteniment {
  color: white;
  text-align: center;
  margin: 50px;
  padding-left: 5%;
  padding-right: 5%;  
}

.header_div {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
}

/* Copia de h2 a h1 */

.header_nav h1 {
  transition: all .5s ease-in-out;
  transform: scale(1);
}

.header_nav h1:hover {
  transform: scale(1.4);
}

.header_nav h2 {
  transition: all .5s ease-in-out;
  transform: scale(1);
}

.header_nav h2:hover {
  transform: scale(1.4);
}

a:any-link {
  text-decoration: none;
  color: white;
}

/* a:any-link afecta a tots

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:active {
  text-decoration: none;
  color: white;
}
*/

/* Main */

@media (max-width: 800px) {
  main.responsive {
    width: 70vw;
    margin-top: 120px;
    margin-bottom: 140px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main_img {
  width: 30vw;
  min-width: 300px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

main div img {
  width: 100%;
}

/* Footer */

@media (max-width: 800px) {
  footer div.responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 25px;
  }
}

.footer_logos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.footer_img {
  width: 30px;
  margin-right: 15px;
  transition: all .5s ease-in-out;
  transform: scale(1);
}

.footer_img:hover {
  transform: scale(1.3);
}

/* Botiga style */

.footer_section {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: -10px;
}
/*
@media (max-width: 800px) {
  .footer_section {
    width: 65%;
    height: 25px;
  }
}
*/
/* Receptes style */

.receptes_header_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  gap: 20px;
}

@media (max-width: 800px) {
  .receptes_header_div {
    display: grid;
    gap: 10px;
  }
}


#searchInput {
  background: transparent;
  position: relative;
  display: flex;
  padding: 15px 15px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  cursor: text;
  border: 3px solid white;
  border-radius: 25px;
  outline: none;
  overflow:none;
  color: white;
  transition: color 0.3s 0.1s ease-out;
  text-align: left;
}

::placeholder {
  color: white;
  text-align: center;
  opacity: .6;
}

/*
#randomRecipeButton {
  background-color: whitesmoke;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
}
*/

body header button {
  background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: white;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

body header button span {
  margin: 10px;
}

body header button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

body header button:hover {
  color: white;
  border: 3px solid rgb(150,115,10);
}

body header button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(150,115,10);
}
 


.receptes_main_div {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 100px;
  text-align: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .receptes_main_div {
    gap: 20px;
    margin-left: 40px;
  }
}


.receptes_main_div img {
  width: 275px;
  border-radius: 5%;
  transition: all.5s ease-in-out;
  transform: scale(1);
}

.receptes_main_div img:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.receptes_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 1.5em;
}

@media (max-width: 800px) {
  .receptes_grid {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
  }
}

.receptes_img {
  margin-left: 10%;
  margin-top: 5%;
  max-width: 80%;
}

.receptes_img img {
  border-radius: 15px;
}

.receptes_txt {
  margin-top: 3%;
  margin-left: -5%;
  margin-right: 5%;
  text-align: justify;
}

@media (max-width: 800px) {
  .receptes_txt {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

.receptes_txt ul {
  margin-left: 45px;
  margin-right: 40px;
}

.receptes_txt ol {
  margin-left: 15px;
  margin-right: 40px;
}

@media (max-width: 800px) {
  .receptes_txt ol {
    margin-right: 15px;
  }
}

.receptes_footer_video {
  margin-left: -90px;
}

@media (max-width: 800px) {
  .receptes_footer_video {
    margin-left: -90px;
  }
}

/* Contacte */

.contact-form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .contact-form {
    margin: 40px;
    padding: 15px;
  }
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  font-size: 15px;
  font-weight: 800;
  padding: 10px 20px;
  background-color: rgb(150,115,10);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Projectes style */