html {
  font-family: 'Lucida Sans Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(26 26 26);
}

header div {
color: beige;
margin-top: 10px;
margin-bottom: 55px;
text-align: center;
}

main div {
  width: 45vw;
  max-width: 1000px;
  min-width: 250px;
  margin: auto;
}

main div img {
  width: 100%;
}

