html {
  font-family: 'Lucida Sans Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(26 26 26);
}

/* Index style */

/* Header */

header h2 {
  color: white;
  text-align: center;
}

.header_div {
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15vw;
  margin-right: 15vw;
}

.header_nav h2 {
  transition: all .5s ease-in-out;
  transform: scale(1);
}

.header_nav h2:hover {
  transform: scale(1.4);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

/*

a:active { text-decoration: none; }
*/

/*
  header div h2 {
    margin-left: 55px;
    margin-right: 55px;
  }
  */

/* Main */

.main_img {
  width: 45vw;
  max-width: 1000px;
  min-width: 250px;
  margin: auto;
}

main div img {
  width: 100%;
}